image: peso.rmanet.com:4567/rma/devops/pyinstaller-docker

stages:
  - build
  - deploy

build-python-code:
  image: peso.rmanet.com:4567/rma/devops/pyinstaller-docker
  stage: build
  variables:
    GIT_SUBMODULE_STRATEGY: normal
  tags:
    - docker
  artifacts:
    paths:
    - "dist/**"
  script:
    - pip install -r requirements.txt
    - pyinstaller --onefile WAT_GIT_Tool.py
    - pyinstaller --onefile WAT_GIT_Tool_v2.py

deploy-python-code:
  image: maven:3.8.6-eclipse-temurin-8
  stage: deploy
  script:
  - mvn deploy -s maven_ci_settings.xml
  dependencies:
  - build-python-code
  tags:
    - docker
